<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Athhleticaa needs camera permission to take pictures remotely with bluetooth devices</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Athhleticaa needs to access your photo album to save remote camera pictures from bluetooth devices</string>
	<key>NSHealthShareUsageDescription</key>
	<string>This app reads health data from Apple Health.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>This app writes health data to Apple Health.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Athhleticaa uses Bluetooth to connect with a smart ring</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Athhleticaa uses Bluetooth to get data from a smart ring</string>
</dict>
</plist>
